:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --logo-width: 150px;
  --cart-icon-size: 30px;
}
